.hero {
  // margin-bottom: 72px;
  .grid-container {
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
    .grid-item {
      height: 400px;
      padding: 100px;
      h2 {
        line-height: 36px;
        color: #0552C7;
        padding: 8px 0;
      }
      h1 {
        padding: 8px 0;
      }
      p {
        line-height: 32px;
        padding: 8px 0;
        color: #555555;
      }
      
      .button {
        padding: 16px 0;
        .b1 {
          font-size: 20px;
          color: white;
          width: 216px;
          height: 64px;
          border: 2px solid #0552C7;
          border-radius: 5px;
          background: #0552C7;
        }
        .b2 {
          font-size: 20px;
          color: #0552C7;
          width: 216px;
          height: 64px;
          margin: 0 10px;
          border: 2px solid #0552C7;
          border-radius: 5px;
          background: transparent;
        }
      }

      .gambar {
        width: 470px;
        height: 520px;
        // margin-bottom: 70px;
      }
    }
  }
}

