@use '../card/card';
@use '../card/card-1';
@use '../card/card-2';

.content {
  padding-top: 100px;
}
.header {
  padding: 100px 100px 20px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 100px;

  // gap: 24px;
}
// .flex-container-01 {
//   display: flex;
//   // flex-direction: row;
//   justify-content: space-between;
//   // padding: 0 100px;
//   align-items: center;
//   // gap: 24px;
// }